<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Auth.AllowedAppKeys" value="LOCAL-DEV-APPKEY" />
    <add key="Otp.Length" value="6" />
    <add key="Otp.TtlMinutes" value="5" />
    <add key="Otp.DeliveryMode" value="Email" />
    <!-- Google OAuth Endpoints (non-sensitive) -->
    <add key="Google.AuthorizationEndpoint" value="https://accounts.google.com/o/oauth2/v2/auth" />
    <add key="Google.TokenEndpoint" value="https://oauth2.googleapis.com/token" />
    <add key="Google.UserInfoEndpoint" value="https://www.googleapis.com/oauth2/v2/userinfo" />
    <add key="Google.RedirectUri" value="http://localhost:8080/oauth2callback" />
    <!-- Deprecated: PeopleApiUrl (use UserInfoEndpoint instead) -->
    <add key="Google.PeopleApiUrl" value="https://people.googleapis.com/v1/people/me?personFields=names,emailAddresses" />
  </appSettings>
  <connectionStrings>
    <add name="CyberSecDb" connectionString="Data Source=DESKTOP-OI30C41\SQLEXPRESS;Initial Catalog=SecureLoginDB;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
